
.bi {
    font-size: 3rem;
}

h2 {
    margin: 2rem 0;
}

.value {
    &__total {
        margin-left: .5rem;
    }
}

.actions {
    justify-content: flex-end;

    button {
        margin-left: 1rem;
    }
}

.modal {
    &-body {
        ul {
            list-style: none;
        }
    }
    &-footer {
        justify-content: center;
    }
}